@font-face {
    font-family: 'manropeextralight';
    src: url('manrope-variablefont_wght.woff2') format('woff2'),
         url('manrope-variablefont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
  margin: 0;
  padding: 0;
  font-family: manropeextralight;
  background: #F0F6F6;
}


.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #008080;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.box h1{
  color: white;
  font-weight: 500;
}
